<template>
	<div class="container">
    <h1> {{name }}</h1>
		<div class="form-group">
        <!-- чтобы само поле ввода становилось красным при ошибке -->
  			<input type="text" @blur="saveName"  v-model="name" class="form-control " :class="{ ' is-invalid ': $v.name.$error }" >
       
  			  <div class="invalid-feedback" v-if="!$v.name.required" >
        			обязательное поле
      		</div>
      		<div class="invalid-feedback" v-if="!$v.name.maxLength">
        			мах колво символов {{$v.name.$params.maxLength.max}}
      		</div>	
		</div>
   <!-- add list  -->
    </br>
    <form @submit.prevent ="addNewDeskList" >
      <div class="mb-3 form-group">
         <!-- чтобы само поле ввода становилось красным при ошибке is-invalid -->
          <input type="text" v-model="desk_list_name" class="form-control" :class="{ ' is-invalid ': $v.desk_list_name.$error }" placeholder="enter list name"  > 
            <div class="invalid-feedback" v-if="!$v.desk_list_name.required" >
                обязательное поле
            </div>
            <div class="invalid-feedback" v-if="!$v.desk_list_name.maxLength">
                мах колво символов {{$v.desk_list_name.$params.maxLength.max}}
            </div> 
      </div>
      <button type="submit" class="btn btn-primary mt-3">Add list</button>
    </form>

   <!-- print list -->
    <div class="row">
        <div class="col-lg-4" v-for="(desk_list ,index) in desk_lists" :key="desk_list.id">
            <div class="card mt-3" >
                <div class="card-body"> 
                      <form  @submit.prevent = "updateDeskList(desk_list.id, desk_list.name)" 
                            v-if="desk_list_input_id == desk_list.id" class=" d-flex justify-content-between align-items-center"  >  
                             <input type="text" v-model="desk_list.name" class=" form-control "  placeholder="enter list name" >
                             <!--
                                 :class="{ ' is-invalid ': $v.desk_lists.$each[index].name.$error }"
                              <div class="invalid-feedback" v-if="!$v.desk_lists.$each[index].name.required" >
                                  обязательное поле
                              </div>
                              <div class="invalid-feedback" v-if="!$v.desk_lists.$each[index].desk_list.name.maxLength">
                                  мах колво символов {{$v.desk_lists.$each[index].name.$params.maxLength.max}}
                              </div>  
                              -->
                             <button type="button" @click="updateDeskList(desk_list.id, desk_list.name)" class="btn-close ml-3" aria-label="Close">
                             </button>
                      </form> 
                          <h4 v-else class="card-title d-flex justify-content-between align-items-center"  style="cursor:pointer;"  @click="desk_list_input_id = desk_list.id"> {{desk_list.name}} 
                            <i class="fas fa-pencil-alt" style="font-size:15px;"></i> 
                          </h4> 
                    
                
                      <button type="button" @click="deleteDeskList(desk_list.id)" class="btn btn-danger mt-3">Удалить Список</button>
                    <!-- card -->
                      <div class="card mt-3 bg-light" v-for="card in desk_list.cards" :key="card.id">
                           <div class="card-body"> 
                              <h4 class="card-title d-flex justify-content-between align-items-center mb-3" style="cursor:pointer; "> {{ card.name}}</h4>

                              <!-- Button trigger modal -->
                              <button type="button" @click="getCard(card.id)" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Открыть
                              </button>
                              <button type="button"  class="btn btn-secondary mt-3"  @click="deleteCard(card.id)" >Удалить Карточку</button>
                           </div>
                      </div>
                      <form  @submit.prevent="addNewCard1(desk_list.id )"  >
                            <input type="text" v-model="card_names[desk_list.id]"     class="form-control" 
                               placeholder="enter card name"   > 
                                <!--
                                   :class="{ ' is-invalid ': $v.card_names.$each[desk_list.id].$error }"

                                <div class="invalid-feedback" v-if="!$v.card_names.$each[desk_list.id].required" >
                                  обязательное поле
                              </div>
                              <div class="invalid-feedback" v-if="!$v.card_names.$each[desk_list.id].maxLength">
                                  мах колво символов {{$v.card_names.$each[desk_list.id].$params.maxLength.max}}
                              </div>  
                            -->
                      </form>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <form  @submit.prevent = "updateCardName"  v-if="show_card_name_input==true" 
                                       class=" d-flex justify-content-between align-items-center"  >  
                                       <input type="text"  v-model="current_card.name"  class="form-control" :class="{ ' is-invalid ': $v.current_card.name.$error }"  placeholder="введите название карточки"  >

                                          <div class="invalid-feedback" v-if="!$v.current_card.name.required" >
                                              обязательное поле
                                          </div>
                                          <div class="invalid-feedback" v-if="!$v.current_card.name.maxLength">
                                              мах колво символов {{$v.current_card.name.$params.maxLength.max}}
                                          </div>  
                                       <button type="button" @click="updateCardName"  class="btn-close ml-3" aria-label="Close">
                                       </button>
                                </form> 

                                <h5 class="modal-title" style="cursor:pointer" id="exampleModalLabel" v-if="show_card_name_input!==true" @click="show_card_name_input=true" > {{ current_card.name }}     <i class="fas fa-pencil-alt ml-5 " style="font-size:15px;"></i> </h5>
                                <button type="button" class="btn-close ml-3" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body" >
                                
                                  <div class="form-check "  v-for="(task, index) in current_card.tasks">
                                    <input class="form-check-input" type="checkbox" @change="updateTask(current_card.tasks[index])" :id="'inlineCheckbox1'+index" v-model="current_card.tasks[index].is_done">
                                        <form  @submit.prevent = "updateTask(current_card.tasks[index])" v-if="task_input_name_id == task.id">
                                          <input type="text"  v-model="current_card.tasks[index].name"   class="form-control"   placeholder="введите название задачи"  >
                                        </form>  
                                    <label v-else class="form-check-label" :for="'inlineCheckbox1'+index">{{task.name}}  </label>
                                    <span @click="task_input_name_id = task.id" v-if="task_input_name_id != task.id" ><i class="fas fa-pencil-alt ml-3"  style="font-size:15px;"></i>  </span>
                                    <button type="button"  @click="deleteTask(task.id)" class="btn-close ml-20" aria-label="Close">
                                       </button>
                                  </div>
                                   <form  @submit.prevent = "addNewTask" >
                                    <div class="form-group">
                                        <input type="text" v-model="new_task_name" class="form-control"  :class="{ ' is-invalid ': $v.new_task_name.$error }"  placeholder="введиет название задачи"  > 
                                         <div class="invalid-feedback" v-if="!$v.new_task_name.required" >
                                              обязательное поле
                                          </div>
                                          <div class="invalid-feedback" v-if="!$v.new_task_name.maxLength">
                                              мах колво символов {{$v.new_task_name.$params.maxLength.max}}
                                          </div>
                                           
                                    </div>
                                  
                                  </form>
                              </div>  
                            </div>
                          </div>
                        </div>
                </div> 
            </div>

        </div>      
    </div>

      <!-- error loading desk  error loading data --> 
      <div class="alert alert-danger" role="alert" v-if="errored">
            error loading data! 
      </div>
      <!-- spier -->  
      <div class="spinner-border" role="status" v-if="loading">
          <span class="visually-hidden">Loading...</span>
      </div>
	</div>
</template>

<script>
import { required, maxLength} from 'vuelidate/lib/validators'
export default {
   props: [
    'deskId',
  ],
  data () {
    return {
    	name: null,
      desk_list_name: null,
    	errored: false,
    	loading: true,
      desk_lists: [],
      desk_list_input_id: null, // по клику на заголовок поподает id списка хранит значение для редактирования (карандаша)  
      card_names: [], // список карточек принадлежащих desk_list
      current_card: [], // текущая карточка в модалке 
      show_card_name_input: false, // в модалке показывать скрывать название карточки- каркндашь 
      new_task_name: '',
      task_input_name_id: null,  // редактирование таска 
    }
  }, 
 
  methods:{
      updateTask(task){
             // console.log(task)
             axios.post('http://127.0.0.1:8000/api/tasks/'+ task.id , {
                _method: 'PATCH',
                name: task.name,
                card_id: task.card_id,
                is_done: task.is_done
            
            
            }).then(response =>{
               this.task_input_name_id=null
            })
            .catch(error => {
               console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
      },
      // для чекбокса 
     // changeTaskName(){
      //  console.log(id)
     // },
      deleteTask(id){
          axios.post('http://127.0.0.1:8000/api/tasks/'+ id , {
                _method: 'DELETE',
            
            
            }).then(response =>{
               
                this.$v.$reset()  // сбросить поля валидации чтоб не было ложных срабатываний ошибок валидации
                this.getCard(this.current_card.id)
            })
            .catch(error => {
               console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
      },
      addNewTask(){
         this.$v.new_task_name.$touch()
         if(this.$v.new_task_name.$anyError){
              return;
          }
        axios.post('http://127.0.0.1:8000/api/tasks' , {
                name: this.new_task_name,
                card_id: this.current_card.id
            
            }).then(response =>{
                this.new_task_name = ''
                this.$v.$reset()  // сбросить поля валидации чтоб не было ложных срабатываний ошибок валидации
                this.getCard(this.current_card.id)
            })
            .catch(error => {
               console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
      },
      // редактировать текущую карточку 
      updateCardName(){
            this.$v.current_card.name.$touch()
            if(this.$v.current_card.name.$anyError){
              return;
            }
            this.show_card_name_input = false //чтобы не было пустого карандаша при значении пусто       
            axios.post('http://127.0.0.1:8000/api/cards/'+ this.current_card.id, {
                _method: 'PATCH',
                name: this.current_card.name,
                list_id: this.current_card.list_id
            
            }).then(response =>{
                this.$v.$reset()  // сбросить поля валидации чтоб не было ложных срабатываний ошибок валидации
                this.show_card_name_input = false
                this.getDeskLists()
            })
            .catch(error => {
               // console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })


      },
      //show - получить текущую карточку
      getCard(id){
          axios.get('http://127.0.0.1:8000/api/cards/'+id, {
            
          }).then(response =>{

             this.current_card = response.data.data
            // console.log(this.current_card)
           // this.getDeskLists()
            })
            .catch(error => {
               // console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
          
      },
      deleteCard(id){
            axios.post('http://127.0.0.1:8000/api/cards/'+id, {
            _method: 'DELETE',
            
            
          }).then(response =>{
            //console.log(response)
           
            this.getDeskLists()
            })
            .catch(error => {
               // console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
          
      },
      addNewCard1(list_id){
     /* this.$v.card_names.$each[list_id].$touch()
      if(this.$v.card_names.$each[list_id].$anyError){
        return;
      }
      */
      axios.post('http://127.0.0.1:8000/api/cards' , {
         name: this.card_names[list_id],
         //list_id: list_id,
         list_id
          
        })
          .then(response =>{
            this.$v.$reset()  // сбросить форму
            // this.card_names[list_id]='',
             this.getDeskLists()
          
        })
       


    },
    // karandash update name v-model
    updateDeskList(id,name){
     /* this.$v.desk_lists.$touch()
      if(this.$v.desk_lists.$anyError){
        return;
      }
      */ 
      this.desk_list_input_id = null
      console.log("updateDeskListOK")
         axios.post('http://127.0.0.1:8000/api/lists/' + id, {
              _method: 'PUT',
              name,       
            
          
        })
        .then(response =>{
           console.log(response)
           this.desk_list_input_id = null  // forma disable if success
        })
        .catch(error => {
            console.log(error.response)
            this.errored=true
        })
        .finally( () => {
            this.loading =false
        })

    },
    //desk list for desk_id from request index()
    getDeskLists(){
        axios.get('http://127.0.0.1:8000/api/lists', {
            params:{
              desk_id: this.deskId
            }
          
        })
        .then(response =>{
          // console.log(response)
            this.desk_lists=response.data.data
            this.desk_lists.forEach( el => {
              this.card_names[el.id] = ''
            });
        })
        .catch(error => {
            //console.log(error)
            this.errored=true
        })
        .finally( () => {
            this.loading =false
        })
    },
  	//https://vuelidate.js.org/ update desk name
  	saveName(){
    		//this.$v.$touch() // touch on input field
        this.$v.name.$touch()
    		if(this.$v.name.$anyError){
    			return;
    		}

    		axios.post('http://127.0.0.1:8000/api/desks/'+this.deskId, {
    			_method: 'PUT',
    			name: this.name
    			
    		})
      		.then(response =>{
      		   
      		
    	  })
    	  .catch(error => {
    			//console.log(error.response)
    			this.errored=true
    	  })
    	  .finally( () => {
    			this.loading =false
    	  })  
  	},
    // add desk list
    addNewDeskList(){
        this.$v.desk_list_name.$touch()
        if(this.$v.desk_list_name.$anyError){
          console.log("addnewdeslkistttttt");
          return false;
        }
        axios.post('http://127.0.0.1:8000/api/lists', {
          name: this.desk_list_name,
          desk_id: this.deskId
          
        })
        .then(response =>{
          //console.log(response)
            this.$v.$reset()  // сбросить поля валидации чтоб не было ложных срабатываний ошибок валидации из бекенда
            this.desk_list_name=''
            this.desk_lists=[]
          
            this.getDeskLists()
        })
        .catch(error => {
            //console.log(error.errors)
          
            this.errored=true
        })
        .finally( () => {
            this.loading =false
        })  
    },
    deleteDeskList(id){
     
            axios.post('http://127.0.0.1:8000/api/lists/'+id, {
            _method: 'DELETE',
            
            
          }).then(response =>{
            //console.log(response)
            this.desk_lists=[]
            this.getDeskLists()
            })
            .catch(error => {
               // console.log(error.response)
                this.errored=true
            })
            .finally( () => {
                this.loading =false
            })
          
    }
  }, 
  //show desk 
  mounted(){
  	axios.get('http://127.0.0.1:8000/api/desks/'+this.deskId).then(response =>{
  		//console.log(response)
  		this.name=response.data.data.name
  	})
  	.catch(error => {
  			//console.log(error)
  			this.errored=true
  	})
  	.finally( () => {
  			this.loading =false
  	}), 
    this.getDeskLists() 
    
  },
  validations: {
    /* desk_lists: {
      $each: {
          required,
          maxLength: maxLength(15)
      }
    },
    */
    new_task_name: {
      required,
      maxLength: maxLength(15)  
    },
  	name: {
  		required,
  		maxLength: maxLength(15)
  	},
    desk_list_name: {
      required,
      maxLength: maxLength(15)
    },
   /* card_names:{
      $each: {
          required,
          maxLength: maxLength(15)
      } 
    },
  */
    current_card: {
      name: {
          required,
          maxLength: maxLength(15)
      }
    },
   

  }



}
</script>

